body {
  margin: 5% 10% 10% 10%;
  background-color: #efe6dd;
}

a {
  text-decoration: none;
  color: #495057;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 5%;
}

th {
  display: inline-block;
  text-align: left;
  color: #adb5bd;
  width: 8em;
}

a:hover {
  color: #adb5bd;
}

/*


a:first-child {
  margin-right: 2.5%;

}

th, td {
  padding-right: 5% !important;
  padding: 1%;
} */
